<div id="detail-map-area">
    <div id="detail-map"></div>
</div>
<div id="detail-content-area">
    <div id="detail-post-area">
        <div id = "detail-info">
            <div id = "detail-icon"></div>
            <div id = "detail-text">
                <div id = "detail-title"></div>
                <div id = "detail-others">
                    <div id = "detail-others-top">
                        <div id = "detail-id"></div>
                        <div id = "detail-modified_date"></div>
                    </div>
                    <div id = "detail-others-bot">
                        <div id = "detail-countView">
                            <img src="/img/layout/view.png">
                            <span></span>
                        </div>
                        <div id = "detail-countComments">
                            <img src="/img/layout/comment.png">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id = "detail-images"></div>
        <div id = "detail-content"></div>
        <div id = "detail-prefer">
            <div id = "detail-like">
                <div class="detail-prefer-img" id = "detail-like-img">
                    <img src="/img/layout/heart.png">
                </div>
                <div class="detail-prefer-text">
                    <div class="detail-prefer-count" id="detail-like-count"></div>
                    <div class="detail-prefer-word">인정</div>
                </div>
            </div>
            <div id= "detail-dislike">
                <div class="detail-prefer-img" id = "detail-dislike-img">
                    <img src="/img/layout/broken-heart.png">
                </div>
                <div class="detail-prefer-text">
                    <div class="detail-prefer-count" id="detail-dislike-count"></div>
                    <div class="detail-prefer-word">노인정</div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail-userInfo-area">
        <div id = "detail-profileImg">
        </div>
        <div id = "detail-follow">
            <button type="submit" class="btn">팔로우</button>
        </div>
    </div>
</div>
<div id="detail-func-area">
    <div class="detail-left-icon">
        <img src="/img/layout/left.png">
    </div>
    <div class="detail-right-icon">
        <img src="/img/layout/right.png">
    </div>
    <div id="detail-edit-icon">
        <img src="/img/layout/edit.png">
    </div>
    <div id="detail-delete-icon">
        <img src="/img/layout/delete.png">
    </div>
</div>

<div id="detail-comment-area">
    <div id="comment-top-nav">
        <span>댓글</span>
        <span id="detail-cmt-count"></span>
    </div>
    <div id="detail-comment-main"></div>
    <div id="comment-down-nav">
    </div>
</div>