<!DOCTYPE html>
<html lang="ko">

<body>
<div id = "main">
    <div id = "intro-text">
        에러가 발생했습니다.
    </div>
    <a href="/index">
        <div id = "intro-logo">
            <img src="/img/layout/intro-2.png">
        </div>
    </a>
    <div id = "intro-text2">
    </div>
</div>
</body>
</html>