<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div>
    <a class="btn" href="/auth/facebook">facebook</a>
</div>
<div>
    <a class="btn" href="/auth/google">google</a>
</div>
<form action="/users/login" method="post">
    <div id = "loginId">
        <label>Username:</label>
        <input type="text" name="id"/>
    </div>

    <div id = "loginPw">
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>

    <div>
        <input type="submit" value="Login" id="loginSubmit"/>
    </div>
</form>
<script>

</script>
</body>
</html>


