<html>
    <head>
        <meta charset="utf-8">
        <title>FistBase Chat Monitoring</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

    </head>
    <body>
        <div class="container">
            <h3>FistBase Chat Monitoring</h3>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="msgForm">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <div id="chatLogs"></div>
        </div>
        <script>
            $(function(){
                var socket = io();

                socket.emit('login', {
                    id:'<%= id %>',
                    displayName: '<%= displayName %>'
                });

                socket.on('login', function(data){
                   $('#chatLogs').append('<div><h3>' + data + '님이 왔어요~!</h3></div>');
                });

                socket.on('chat', function(data){
                    $('#chatLogs').append("<div><h3>" + data.from.displayName + " : <strong>" + data.msg +"</strong>(" + data.date + ")</h3></div>");
                });

                $("form").submit(function(e){
                    e.preventDefault();

                    var $msgForm = $('#msgForm');

                    socket.emit('chat', { msg : $msgForm.val() });
                    $msgForm.val("");
                });
            });
        </script>
    </body>
</html>