<html>
<head>
    <meta charset="utf-8">
    <title>FistBase Chat Monitoring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
<div class="container">
    <h3>FistBase Chat Monitoring</h3>
    <div id="chatLogs"></div>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="msgForm">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
<script>
    $(function () {
        var socket = io();

        socket.emit('login', {
            id: '<%= id %>',
            displayName: '<%= displayName %>'
        });

        socket.on('load old msgs', function (docs) {
            console.log(docs);
            docs.forEach(function (doc) {
                $('#chatLogs').append("<div><h3>" + doc.displayName + " : <strong>" + doc.msg + "</strong>(" + doc.time + ")</h3></div>");
            });

        });

        socket.on('login', function (data) {
            $('#chatLogs').append('<div><h3>' + data + '님이 왔어요~!</h3></div>');
        });

        socket.on('chat', function (data) {
            console.log(data);
            $('#chatLogs').append("<div><h3>" + data.displayName + " : <strong>" + data.msg + "</strong>(" + data.time + ")</h3></div>");
        });

        $("form").submit(function (e) {
            e.preventDefault();

            var $msgForm = $('#msgForm');
            var msg = $msgForm.val();

            socket.emit('chat', {msg: msg});
            $msgForm.val("");
        });
    });
</script>
</body>
</html>