<html>
<head>
    <meta charset="utf-8">
    <title>FistBase Chat Monitoring</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/teammap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=3WGB6rDBj4WmIKeoAuDG&submodules=geocoder"></script>
    <script type="text/javascript"
            src="/js/profile.js" defer></script>
</head>
<body>

<header>
    <div>
        <h2>foodiscuss
        <img src="http://d2w40mi5mo8vk7.cloudfront.net/profile-default.png"
             alt="http://d2w40mi5mo8vk7.cloudfront.net/profile-default.png"
             class="img-circle"
             id="profile-image"
        >
        </h2>
    </div>
    <div id="buttons">
        <button class="btn" onclick="openNav()">open</button>
    <!--<div id = "login-register-button">-->
        <!--<button type="button" class="btn" data-toggle="modal" data-target="#myModal">로그인</button>-->
    <!--</div>-->
    </div>
</header>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Login</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div id = "login-form">
                    <form action="http://ec2-13-124-219-114.ap-northeast-2.compute.amazonaws.com:8080/users/login" method="post" enctype="application/json">
                        <div class="form-group">
                            <label for="id">Email</label>
                            <input type="text" class="form-control" name="id" id="id" placeholder="Enter Email"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password"/>
                        </div>
                        <div class="form-submit">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                    </form>
                </div>
                <div class="social-login">
                    <a class="btn" href="/users/signup-form"><button type="button" class="btn btn-warning">Sign Up</button></a>
                </div>
            </div>
            <div class="modal-footer">
                <p>Not a member? <a href="/users/signup-form">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--<button type="submit" id="refresh" class="btn btn-primary">Set</button>-->
    <!--<button type="submit" id="send" class="btn btn-primary ">Send</button>-->
    <!--<button type="submit" id="get" class="btn btn-primary ">Get</button>-->

    <div id="contents">
    </div>
</div>
<div id="main" class="container">
    <h3 id="explanation" class="center-block"></h3>
    <div id="map"></div>
    <h3 id="notification-ping" class="center-block"></h3>
    <div id="chat-box">
        <div id="chatLogs"></div>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="msgForm">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
<footer>
</footer>
<script type="text/javascript" src="/js/teammap.js" async></script>
</body>
</html>