<html>
<head>
    <meta charset="utf-8">
    <title>FistBase Chat Monitoring</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/teammap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=3WGB6rDBj4WmIKeoAuDG&submodules=geocoder"></script>
    <script type="text/javascript"
            src="/js/profile.js" defer></script>
</head>
<body>

<header>
    <div>
        <h2>foodiscuss
        <img src="http://d2w40mi5mo8vk7.cloudfront.net/profile-default.png"
             alt="http://d2w40mi5mo8vk7.cloudfront.net/profile-default.png"
             class="img-circle"
             id="profile-image"
        >
        </h2>
    </div>
    <div id="buttons">
        <span onclick="openNav()">open</span>
    </div>
</header>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <button type="submit" id="refresh" class="btn btn-primary">Set</button>
    <button type="submit" id="send" class="btn btn-primary ">Send</button>
    <button type="submit" id="get" class="btn btn-primary ">Get</button>
</div>
<div id="main" class="container">
    <h3 id="explanation" class="center-block"></h3>
    <div id="map"></div>
    <h3 id="notification-ping" class="center-block"></h3>
    <div id="chat-box">
        <div id="chatLogs"></div>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="msgForm">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
<footer>
</footer>
<script type="text/javascript" src="/js/teammap.js" async></script>
</body>
</html>