
@charset "UTF-8";

@import url("/stylesheets/detail.css");

body {
    padding: 0;
    margin: 0;
    font-family: "icomoon", "Noto Scans CJK KR", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color : #252525;
    overflow-x: hidden;
    overflow-y: visible;
}

body::-webkit-scrollbar { width: 0 !important }
body { -ms-overflow-style: none; }
body { overflow: -moz-scrollbars-none; }

#intro-area{
    display: flex;
    flex: 0 1 auto;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/layout/intro-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#intro-text{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    margin-top: 80px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #00bbd2;
    font-weight: 900;
    font-size: 30px;
}

#intro-logo{
    display: flex;
    flex: 0 1 auto;
    width: 190px;
    height: 190px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#intro-logo img{
    display: flex;
    flex : 0 1 auto;
    width: auto;
    height: 100%;
    cursor: pointer;
}

#intro-text2{
    display: flex;
    flex: 0 1 auto;
    width: auto;
    height: auto;
    margin-top: 10px;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #252525;
    font-weight: 900;
    font-size: 12px;
}

#intro-button{
    display: flex;
    flex: 0 1 auto;
    width: 150px;
    margin-top: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

#intro-button button{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #00bbd2;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

#loading {
    display: flex;
    flex: 0 1 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 300;
}

#loader {
    display: flex;
    flex: 0 1 auto;
    width: 150px;
    height: 150px;
    border: 16px solid #f1f1f1;
    border-radius: 50%;
    border-top: 16px solid #00bbd2;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main {
    display: flex;
    width: 100vw;
    height: auto;
    flex-flow: column nowrap;
}

#nav-area {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    width: 100vw;
    height: 55px;
    background-color: #FFFFFF;
}

#detail-top-left-area{
    display: flex;
    flex: 0 1 auto;
    width: 156px;
    height: 55px;
    flex-flow: row nowrap;
    align-items: center;
}

#logo-img{
    display: flex;
    flex : 0 0 auto;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

#logo-img img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#logo-img-letter{
    display: flex;
    flex : 0 0 auto;
    width: 100px;
    height: 40px;
    margin-left: 8px;
}

#logo-img-letter img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#brand{
    display: flex;
    flex : 0 1 auto;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#brand:hover, a:hover{
    color: #ffcf15;
    text-decoration: none;
}

#detail-top-right-area{
    display: flex;
    flex : 0 1 auto;
    width: 210px;
    height: 55px;
    flex-flow: row nowrap;
    margin-left: auto;
    justify-content: flex-end;
}

#login-register-button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    height: 55px;
    margin-left: 10px;
    margin-right: 10px;
}

#login-register-button button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    justify-content: center;
    height: 45px;
    color: white;
    font-size: 14px;
    background-color: #00bbd2;
    border: 1px solid #f1f1f1;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#detail-area{
    display: flex;
    flex: 0 1 auto;
    width: 985px;
    height: 100%;
    background: #3b3b3c;
    flex-flow: column nowrap;
    align-self: center;
    justify-self: center;
}


@media only screen and (max-width: 1279px) and (min-width: 768px){
    #detail-area {
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    #detail-area {
        width: 100%;
    }

    #detail-content-area{
        flex-flow: column-reverse nowrap;
    }

    #detail-userInfo-area{
        width: 100%;
        height: 220px;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    #detail-profileImg{
        width: 140px;
    }

    #detail-profileImg{
        margin: 0;
    }

    #detail-post-area{
        width: 100%;
    }

}

.floating {
    position: fixed;
    width: 55px;
    height: 55px;
    top: 50%;
}

.floatLeft{
    left: 0;
}

.floatRight{
    right: 0;
}
