
@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
}

#nav-area {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    width: 100vw;
    height: 8vh;
    background-color: #FFFFFF;
}

#top-left-area{
    display: flex;
    flex: 0 1 auto;
    width: 65%;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
}

#logo-img{
    display: flex;
    flex : 0 1 auto;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

#logo-img img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#brand{
    display: flex;
    flex : 0 1 auto;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    text-align: center;
    color: #212121;
}

#brand:hover, a:hover{
    color: #212121;
    text-decoration: none;
}

#navbar-nav{
    display: flex;
    flex : 1 1 auto;
    height: 100%;
    align-items: center;
    flex-flow: row wrap;
}

#nav-item{
    display: flex;
    flex : 0 1 auto;
    width: 35%;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    text-align: center;
    white-space: nowrap;
}

#nav-item a.nav-link{
    color: #FFE3B1;
}

#nav-item:hover, #nav-item a.nav-link:hover{
    color: #B2996A;
}

#top-search{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row wrap;
    width: calc(30% - 15px);
    height: 75%;
    align-items: center;
    margin-right: 15px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    background-color: white;
    margin-left: auto;
}

#top-search input{
    display: flex;
    flex: 0 1 auto;
    border: 0px;
    width: calc(100% - 26px - 5px);
}

#top-search .search-button{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5px;
    width: 26px;
}

#top-search .search-button button{
    background-color: white;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
}

#top-search .search-button button:focus{
    box-shadow: 0px 0px 0px #FFF;
}

#top-search .search-button img{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
}

#top-right-area{
    display: flex;
    flex : 0 1 auto;
    width: 35%;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
}

#chat-button{
    display: flex;
    flex : 0 1 auto;
    height: 75%;
    width: calc(100% - 80px - 15px - 15px);
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: .5rem;
}

#chat-button #chat-img{
    display: flex;
    flex : 0 1 auto;
    height: 38px;
    width: 38px;
}

#chat-button #chat-img img{
    display: flex;
    flex : 0 1 auto;
    height: 100%;
    width: 100%;
}

#login-register-button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    height: 75%;
    align-items: center;
    margin-left: 15px;
}

#login-register-button button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    justify-content: center;
    height: 100%;
    color: white;
    font-size: 2.5vmin;
    background-color: #B1D4FF;
    border: 1px solid #ddd;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main-area {
    display: flex;
    width: 100vw;
    height: 92vh;
    flex-flow: row nowrap;
}

#map-area {
    display: flex;
    flex: 1 1 auto;
    width: 65%;
    height: 100%;
    flex-flow: row nowrap;
    background-color: white;
    padding: 15px;
    background-color: #FFF1D7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#map{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

#add-button{
    z-index: 100;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

#add-button img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 8px;
}

#radar-button{
    z-index: 100;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: white;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #000;
}

#radar-button img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
}

#contents-area{
    display: flex;
    flex : 1 1 auto;
    width: 35%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 15px;
    padding-left: 0px;
    background-color: #FFF1D7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contents{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: calc(90% - 15px);
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    background-color: #B1D4FF;
    border: 1px solid #B1D4FF;
    border-radius: .5rem;
}

#content-wrapper{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 93%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.content{
    display: flex;
    flex : 0 1 auto;
    width: 95%;
    height: 20%;
    margin-top: 2%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #B1D4FF;
    border-radius: .5rem;
}

.title{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    color: #B2996A;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow:hidden;
}

.post{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: white;
    overflow:hidden;
}

#contents-page{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 5%;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-color: #B1D4FF;
    border: 1px solid #B1D4FF;
    border-radius: .5rem;
}

.page{
    border: 1px;
    padding: 1px 2px;
    margin: 3px;"
}

#down-menu{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 10%;
    align-self: flex-end;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #B1D4FF;
    border: 1px solid #B1D4FF;
    border-radius: .5rem;
    margin-top: 15px;
    padding: 0px 7px;
}

#down-search{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
    width: calc(90% - 7px);
    height: 75%;
    align-items: center;
    margin-right: 7px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    background-color: white;
}

#down-search input{
    display: flex;
    flex: 0 1 auto;
    border: 0px;
    width: calc(100% - 26px - 5px);
}

#down-search .search-button{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5px;
    width: 26px;
}

#down-search .search-button button{
    background-color: white;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
}


#down-search .search-button button:focus{
    box-shadow: 0px 0px 0px #FFF;
}

#down-search .search-button img{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
}

#down-filter{
    display: flex;
    flex : 0 1 auto;
    width: 10%;
    height: 75%;
    padding: 2px;
    border-radius: .25rem;
    border: 1px solid #ddd;
    justify-content: center;
    background-color: white;
}

#down-filter img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

.emoticon{
    display: flex;
    flex : 1 1 auto;
    width: 30%;
    max-width: 30%;
    height: 30%;
    max-height: 30%;
    background-color: white;
}

.emoticon img{
    display: flex;
    flex : 1 1 auto;
    max-width: 100%;
    max-height: 100%;
}

.modal-body{
    display: flex;
    flex : 0 1 auto;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.social-login a{
    display: flex;
    flex : 1 1 auto;
    padding: 0;
    margin: 0;
}

.social-login button{
    display: flex;
    flex : 1 1 auto;
    justify-content: center;
}

#regi-main{
    display: flex;
    flex : 0 1 auto;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: center;

}

#regi-main #logo-img{
    display: flex;
    flex : 0 0 auto;
    width: 150px;
    height: 150px;
}

#regi-main #logo-img img{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
}

#regi-form{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    justify-content: center;
}

#regi-form form{
    display: flex;
    flex : 0 1 auto;
    width: 70%;
    height: 50vh;
    flex-flow: column nowrap;
    justify-content: center;
}

#regi-form form .form-group1{
    display: flex;
    flex : 0 1 auto;
    width: 70%;
    height: 38px;
}

#regi-form form .form-group0{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
    height: 38px;
}

#regi-form form .form-group2{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
}

#popUp {
    display: none;
    position: absolute;
    flex : 1 1 auto;
    flex-flow: column nowrap;
    z-index: 110;
    background-color: white;
}

#detail-cancel {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    padding-top: 5%;
    padding-right: 5%;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
}

#detail-cancel button{
    font-size: 3rem;
}

#detail-post{
    display: flex;
    flex: 1 1 auto;
    height: 90%;
    width: 100%;
    flex-flow: column nowrap;
}

#detail-top {
    display: flex;
    flex: 0 1 auto;
    height: 50px;
    width: 100%;
    flex-flow: row nowrap;
}

#detail-icon{
    display: flex;
    flex : 0 1 auto;
    width: 50px;
    height: 50px;
}

#detail-icon img{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

#detail-title{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#detail-data{
    display: flex;
    flex: 0 1 auto;
    height: 40px;
    width: 100%;
    flex-flow: row nowrap;
}

#detail-id{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 50%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

#detail-modified_date{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 50%;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
}
#detail-images{

}

#detail-image{
    display: flex;
    flex: 0 1 auto;
    width : 150px;
    height: 150px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#detail-image img{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
}

#detail-content{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

#detail-cmt-count{
    display: flex;
    flex: 0 1 auto;
    height: 20px;
    width: 100%;
    justify-content: flex-start;
}

