
@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#map-area {
    display: flex;
    flex: 1 1 auto;
    width: 60%;
    height: 100%;
    flex-flow: column nowrap;
    background-color: white;
}

#top-map{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 8%;
    align-items: center;
}

#logo-img{
    display: flex;
    flex : 0 1 auto;
    width: 50px;
    height: 50px;
    margin-left: 2px;
}

#logo-img img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#top-left-menu{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
}

#map{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 92%;
}

#add-button{
    z-index: 100;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

#add-button img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 8px;
}

#radar-button{
    z-index: 100;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
}

#radar-button img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
}

#contents-area{
    display: flex;
    flex : 1 1 auto;
    width: 35%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#top-right-menu{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 8%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#top-right-menu .space{
    display: flex;
    flex : 0 1 auto;
    width: 5%;
    height: 100%;
}

#chat-button{
    display: flex;
    flex : 0 1 auto;
    height: 50px;
    width: 200px;
    padding: 0px 75px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
}

#chat-button img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#login-register-button{
    display: flex;
    flex : 0 1 auto;
    width: 100px;
    height: 50px;
}

#login-register-button button{
    display: flex;
    flex : 1 1 auto;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: #00bbd2;
    border: 1px solid #ddd;
}

#contents{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 84%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#content-wrapper{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
}

.content{
    display: flex;
    flex : 1 1 auto;
    width: 95%;
    max-width: 95%
    height: 18%;
    max-height: 18%;
    margin-top: 0;
    margin-bottom: 2%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: white;
    overflow:hidden;
}

.post{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: white;
    overflow:hidden;
}

#contents-page{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.page{
    border: 1px solid #ddd;
    padding: 1px 4px;
    margin: 3px;"
}

#down-menu{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 8%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#down-search{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
    width: 75%;
    height: 75%;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

#down-search :focus{
}

#down-search input{
    display: flex;
    flex: 1 1 auto;
    border: 0px;
}

#down-search .search-button{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin-right: 5px;
}

#down-search .search-button button{
    background-color: white;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
}


#down-search .search-button button:focus{
    box-shadow: 0px 0px 0px #FFF;
}

#down-search .search-button img{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
}

#down-filter{
    display: flex;
    flex : 0 1 auto;
    width: 10%;
    height: 75%;
    padding: 2px;
    border-radius: .25rem;
    border: 1px solid #ddd;
    justify-content: center;
}

#down-filter img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

.emoticon{
    display: flex;
    flex : 1 1 auto;
    width: 30%;
    max-width: 30%;
    height: 30%;
    max-height: 30%;
    background-color: white;
}

.emoticon img{
    display: flex;
    flex : 1 1 auto;
    max-width: 100%;
    max-height: 100%;
}

.modal-body{
    display: flex;
    flex : 0 1 auto;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.social-login a{
    display: flex;
    flex : 1 1 auto;
    padding: 0;
    margin: 0;
}

.social-login button{
    display: flex;
    flex : 1 1 auto;
    justify-content: center;
}

#regi-main{
    display: flex;
    flex : 0 1 auto;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: center;

}

#regi-main #logo-img{
    display: flex;
    flex : 0 0 auto;
    width: 150px;
    height: 150px;
}

#regi-main #logo-img img{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
}

#regi-form{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    justify-content: center;
}

#regi-form form{
    display: flex;
    flex : 0 1 auto;
    width: 70%;
    height: 50vh;
    flex-flow: column nowrap;
    justify-content: center;
}

#regi-form form .form-group1{
    display: flex;
    flex : 0 1 auto;
    width: 70%;
    height: 38px;
}

#regi-form form .form-group0{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row wrap;
    height: 38px;
}

#regi-form form .form-group2{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row wrap;
}

#popUp {
    display: none;
    position: absolute;
    flex : 1 1 auto;
    flex-flow: column nowrap;
    z-index: 110;
    background-color: white;
}

#detail-cancel {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    padding-top: 5%;
    padding-right: 5%;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
}

#detail-cancel button{
    font-size: 3rem;
}

#detail-post{
    display: flex;
    flex: 1 1 auto;
    height: 90%;
    width: 100%;
    flex-flow: column nowrap;
}

#detail-top {
    display: flex;
    flex: 0 1 auto;
    height: 50px;
    width: 100%;
    flex-flow: row wrap;
}

#detail-icon{
    display: flex;
    flex : 0 1 auto;
    width: 50px;
    height: 50px;
}

#detail-icon img{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

#detail-title{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#detail-data{
    display: flex;
    flex: 0 1 auto;
    height: 40px;
    width: 100%;
    flex-flow: row wrap;
}

#detail-id{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 50%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

#detail-modified_date{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    width: 50%;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
}
#detail-images{

}

#detail-image{
    display: flex;
    flex: 0 1 auto;
    width : 150px;
    height: 150px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#detail-image img{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
}

#detail-content{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

#detail-cmt-count{
    display: flex;
    flex: 0 1 auto;
    height: 20px;
    width: 100%;
    justify-content: flex-start;
}

