
@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    font-family: "icomoon", "Noto Scans CJK KR", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color : #252525;
    overflow: hidden;
}

#intro-area{
    display: flex;
    flex: 0 1 auto;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/layout/intro-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#intro-text{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    margin-top: 80px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #00bbd2;
    font-weight: 900;
    font-size: 30px;
}

#intro-logo{
    display: flex;
    flex: 0 1 auto;
    width: 190px;
    height: 190px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#intro-logo img{
    display: flex;
    flex : 0 1 auto;
    width: auto;
    height: 100%;
    cursor: pointer;
}

#intro-text2{
    display: flex;
    flex: 0 1 auto;
    width: auto;
    height: auto;
    margin-top: 10px;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #252525;
    font-weight: 900;
    font-size: 12px;
}

#intro-button{
    display: flex;
    flex: 0 1 auto;
    width: 150px;
    margin-top: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

#intro-button button{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #00bbd2;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}

#loading {
    display: flex;
    flex: 0 1 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 300;
}

#loader {
    display: flex;
    flex: 0 1 auto;
    width: 150px;
    height: 150px;
    border: 16px solid #f1f1f1;
    border-radius: 50%;
    border-top: 16px solid #00bbd2;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main {
    display: flex;
    flex: 0 1 auto;
    width: 100vw;
    height: 100vh;
    flex-flow: row wrap;
    /*overflow: hidden;*/
}

#left-area{
    display: flex;
    flex: 0 1 auto;
    width: 62.5vw;
    height: 100vh;
    flex-flow: row wrap;
    background-color: #ffcf15;
}

#left-nav-area{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 55px;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #FFFFFF;
}


#logo-img{
    display: flex;
    flex : 0 0 auto;
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

#logo-img img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#logo-img-letter{
    display: flex;
    flex : 0 0 auto;
    width: auto;
    height: 40px;
    margin-left: 8px;
}

#logo-img-letter img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#brand{
    display: flex;
    flex : 0 1 auto;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#brand:hover, a:hover{
    color: #ffcf15;
    text-decoration: none;
}

#down-link{
    display: flex;
    flex: 1 1 auto;
    height: 55px;
    justify-content: flex-start;
    align-items: center;
}

#down-link a{
    width: 140px;
    height: 55px;
}

#map-search{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
    width: 150px;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    background-color: white;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#map-search input{
    display: flex;
    flex: 0 1 auto;
    border: 0px;
    width: 120px;
}

#map-search .search-button{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    height: 40px;
    margin-right: 5px;
    width: 25px;
}

#map-search .search-button button{
    display: flex;
    flex: 0 1 auto;
    background-color: white;
    width: 25px;
    height: 38px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#map-search .search-button button:focus{
    box-shadow: 0px 0px 0px #FFF;
}

#map-search .search-button img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: auto;
}

#map-area {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: calc(100% - 55px);
    flex-flow: row nowrap;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#map{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
}

#add-button{
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
}

#add-button img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 8px;
}

#radar-button{
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: white;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
}

#radar-button img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
}


#right-area{
    display: flex;
    flex: 0 1 auto;
    width: 37.5vw;
    height: 100vh;
    flex-flow: row wrap;
    background-color: #ffcf15;
}

#right-nav-area{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 55px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFFFF;
}

#right-nav-area #login-register-button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    height: 40px;
    align-items: center;
    margin: 15px;
    margin-bottom: 0px;
}

#right-nav-area #login-register-button button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    justify-content: center;
    height: 40px;
    color: white;
    font-size: 14px;
    background-color: #00bbd2;
    border: 1px solid #f1f1f1;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#profile-url{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    height: 40px;
    margin: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    order: -1;
}

#profile-url button{
    display: flex;
    flex : 0 1 auto;
    width: 80px;
    justify-content: center;
    height: 40px;
    color: white;
    font-size: 14px;
    background-color: #ffcf15;
    border: 1px solid #f1f1f1;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#contents-area{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: calc(100% - 55px);
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contents{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: calc(100% - 40px);
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content-wrapper{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 92%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contents-page{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 8%;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page{
    border: 1px;
    padding: 1px 2px;
    margin: 3px;
    cursor: pointer;
}

#board{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 6%;
    font-size: 12px;
    color: #FFFFFF;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#board-title{
    display: flex;
    flex : 0 1 auto;
    width: calc(100% - 75px - 80px);
    height: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    background-color: #000000;
    /*border-top: 1px solid #B1D4FF;*/
    /*border-top-left-radius: .5rem;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#board-author{
    display: flex;
    flex : 0 1 auto;
    width: 75px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #587FB2;
    /*border-top: 1px solid #B1D4FF;*/
}

#board-date{
    display: flex;
    flex : 0 1 auto;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #587FB2;
    /*border-top: 1px solid #B1D4FF;*/
}

#board-hits{
    display: flex;
    flex : 0 1 auto;
    width: 40px;
    height: 100%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    background-color: #587FB2;
    /*border-top: 1px solid #B1D4FF;*/
    /*border-top-right-radius: .5rem;*/
}

.content{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 9.4%;
    margin: 0;
    font-size: 14px;
    color: #252525;
    align-items: center;
    background-color: white;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list-group-item:hover {
    color : #00bbd2;
    cursor: pointer;
}

.content-img{
    display: flex;
    flex: 0 1 auto;
    width: 24px;
    height: 24px;
    justify-content: center;
    margin-left: 5px;
}

.content-img img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

.content-title{
    display: flex;
    flex: 0 1 auto;
    width: calc(100% - 24px - 10px - 75px - 80px);
    height: 100%;
    margin-left: 5px;
    font-size: 12px;
    justify-content: flex-start;
    align-items: center;
    overflow:hidden;
    white-space: nowrap;
}

.content-author{
    display: flex;
    flex: 0 1 auto;
    width: 75px;
    height: 100%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-date{
    display: flex;
    flex: 0 1 auto;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-hits{
    display: flex;
    flex: 0 1 auto;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*.post{*/
    /*display: flex;*/
    /*flex : 1 1 auto;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*align-items: center;*/
    /*background-color: white;*/
    /*overflow:hidden;*/
/*}*/

#down-menu{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 40px;
    align-self: flex-end;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white; /* B1D4FF */
    border: 1px solid white; /* B1D4FF */
    border-radius: .5rem;
}

#posts-search{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
    width: 90%;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    background-color: white;
}

#posts-search input{
    display: flex;
    flex: 0 1 auto;
    border: 0px;
    width: calc(100% - 30px);
}

#posts-search .search-button{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    height: 40px;
    margin-right: 5px;
    width: 25px;
}

#posts-search .search-button button{
    display: flex;
    flex: 0 1 auto;
    background-color: white;
    width: 25px;
    height: 38px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#posts-search .search-button button:focus{
    box-shadow: 0px 0px 0px #FFF;
}

#posts-search .search-button img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: auto;
}

#down-filter{
    display: flex;
    flex : 0 1 auto;
    width: 10%;
    height: 75%;
    padding: 2px;
    border-radius: .25rem;
    border: 1px solid #f1f1f1;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

#down-filter img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}



/*#nav-area {*/
    /*display: flex;*/
    /*flex: 0 1 auto;*/
    /*flex-flow: row nowrap;*/
    /*width: 100vw;*/
    /*height: 8vh;*/
    /*background-color: #FFFFFF;*/
/*}*/

/*#top-left-area{*/
    /*display: flex;*/
    /*flex: 0 1 auto;*/
    /*width: 65%;*/
    /*height: 100%;*/
    /*flex-flow: row nowrap;*/
    /*align-items: center;*/
/*}*/

/*#nav-item{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*width: 37.5%;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-size: 16px;*/
    /*font-weight: 900;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

/*#nav-item a.nav-link{*/
    /*color: #00bbd2;*/
/*}*/

/*#nav-item:hover, #nav-item a.nav-link:hover{*/
    /*color: #ffcf15;*/
/*}*/

/*#top-search{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*flex-flow: row nowrap;*/
    /*width: calc(25% - 15px);*/
    /*height: 75%;*/
    /*align-items: center;*/
    /*margin-right: 15px;*/
    /*border: 1px solid rgba(0,0,0,.15);*/
    /*border-radius: .25rem;*/
    /*background-color: white;*/
    /*margin-left: 0;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

/*#top-search input{*/
    /*display: flex;*/
    /*flex: 0 1 auto;*/
    /*border: 0px;*/
    /*width: calc(100% - 26px - 5px);*/
/*}*/

/*#top-search .search-button{*/
    /*display: flex;*/
    /*flex: 0 1 auto;*/
    /*align-items: center;*/
    /*height: 26px;*/
    /*margin-right: 5px;*/
    /*width: 26px;*/
/*}*/

/*#top-search .search-button button{*/
    /*display: flex;*/
    /*flex: 0 1 auto;*/
    /*background-color: white;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*cursor: pointer;*/
/*}*/

/*#top-search .search-button button:focus{*/
    /*box-shadow: 0px 0px 0px #FFF;*/
/*}*/

/*#top-search .search-button img{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*#top-right-area{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*width: 35%;*/
    /*height: 100%;*/
    /*flex-flow: row nowrap;*/
    /*align-items: center;*/
/*}*/

/*#chat-button{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*height: 75%;*/
    /*width: calc(100% - 80px - 15px - 15px);*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: white;*/
    /*border: 1px solid #f1f1f1;*/
    /*border-radius: .5rem;*/
/*}*/

/*#chat-button #chat-img{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*height: 38px;*/
    /*width: 38px;*/
/*}*/

/*#chat-button #chat-img img{*/
    /*display: flex;*/
    /*flex : 0 1 auto;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/


#main-area {
    display: flex;
    width: 100vw;
    height: 92vh;
    /*
    background-image: url("http://wallarthd.com/wp-content/uploads/2014/09/Beautiful-Sky-And-Beach-Wallpaper-Download.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    */
    background-color: #ffcf15; /* FFF1D7; */
    flex-flow: row nowrap;
}

.modal-body{
    display: flex;
    flex : 0 1 auto;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.social-login a{
    display: flex;
    flex : 1 1 auto;
    padding: 0;
    margin: 0;
}

.social-login button{
    display: flex;
    flex : 1 1 auto;
    justify-content: center;
}

#regi-main{
    display: flex;
    flex : 0 1 auto;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: center;

}

#regi-main #logo-img{
    display: flex;
    flex : 0 0 auto;
    width: 150px;
    height: 150px;
}

#regi-main #logo-img img{
    display: flex;
    flex : 1 1 auto;
    width: 100%;
    height: 100%;
}

#regi-form{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    justify-content: center;
}

#regi-form form{
    display: flex;
    flex : 0 1 auto;
    width: 70%;
    height: 50vh;
    flex-flow: column nowrap;
    justify-content: center;
}

#regi-form form .form-group1{
    display: flex;
    flex : 0 1 auto;
    width: 70%;
    height: 38px;
}

#regi-form form .form-group0{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
    height: 38px;
}

#regi-form form .form-group2{
    display: flex;
    flex : 0 1 auto;
    flex-flow: row nowrap;
}

/*#popUp {*/
    /*display: none;*/
    /*position: absolute;*/
    /*flex : 0 1 auto;*/
    /*flex-flow: row wrap;*/
    /*width : 35vw;*/
    /*height : 100vh;*/
    /*top : 0;*/
    /*left : 100vw;*/
    /*background-color: white;*/
    /*overflow-y : scroll;*/
/*}*/

.page-cancel {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    padding: 7px 0px;
    height: 55px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.page-cancel button{
    height: 55px;
    width: 55px;
    font-size: 30px;
}

#detail-plus-menu{
    display: flex;
    flex: 0 1 auto;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#detail-post{
    display: flex;
    flex: 0 1 auto;
    height: auto;
    width: 100%;
    flex-flow: row wrap;
}

#detail-top {
    display: flex;
    flex: 0 1 auto;
    height: 80px;
    width: 100%;
    flex-flow: row wrap;
}

#detail-icon{
    margin-left: 5px;
    display: flex;
    flex : 0 1 auto;
    width: 50px;
    height: 100%;
    align-items: center;
}

#detail-icon img{
    display: flex;
    flex: 0 1 auto;
    width: 50px;
    height: 50px;
}

#detail-top-right{
    display: flex;
    flex: 0 1 auto;
    width: calc(100% - 55px);
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#detail-title{
    display: flex;
    flex: 0 1 auto;
    margin-left: 10px;
    width: calc(100% - 10px);
    height: 50%;
    font-weight: 900;
    overflow: hidden;
}

#detail-title-plus{
    display: flex;
    flex: 0 1 auto;
    margin-left: 10px;
    width: calc(100% - 10px);
    height: 50%;
}

#detail-title-plus-left{
    display: flex;
    flex: 0 1 auto;
    width: 80%;
    height: 100%;
    flex-flow: column nowrap;
}

#detail-title-plus-left-top{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 50%;
}

#detail-title-plus-left-bot{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 50%;
}

#detail-title-plus-right{
    display: flex;
    flex: 0 1 auto;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#detail-id{
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 50%;
    white-space:nowrap;
    overflow: hidden;
    align-items: center;
}

#detail-modified_date{
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 50%;
    white-space:nowrap;
    overflow: hidden;
    align-items: center;
}

#detail-follow{
    width: 80%;
    height: 80%;
    color: #FFFFFF;
    background-color: #96ceb4;
    font-size: 12px;
}

#detail-images{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#detail-images img{
    display: flex;
    flex: 0 1 auto;
    margin-top: 10px;
    width: 70%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#detail-content{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100px;
    padding: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#writePage, #chatPage {
    display: none;
    position: absolute;
    flex : 0 1 auto;
    flex-flow: row wrap;
    width : 37.5vw;
    height : 100vh;
    top : 0;
    left : 100vw;
    background-color: white;
    justify-content: center;
}

#write-change, #chat-change {
    display: flex;
    flex: 0 1 auto;
    width: calc(100% - 10px);
    height: calc(100vh - 70px);
    justify-content: flex-start;
    align-content: flex-start;
    /*align-content는 여러줄*/
    flex-flow: row wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

#write-change::-webkit-scrollbar { width: 0 !important }
#write-change { -ms-overflow-style: none; }
#write-change { overflow: -moz-scrollbars-none; }

.write-icons{
    display: flex;
    flex : 0 1 auto;
    width: 20%;
    height: 20%;
    background-color: white;
    z-index: 200;
}

.write-icons img{
    display: flex;
    flex : 0 1 auto;
    width: 50px;
    height: 50px;
    z-index: 200;
}

#write-top-div{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 40px;
    align-items: center;
}

#write-div-icon{
    display: flex;
    flex: 0 1 auto;
    width: 24px;
    height: 24px;
    justify-content: center;
    margin-left: 5px;
}

#write-div-icon img{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#write-title{
    display: flex;
    flex: 0 1 auto;
    width: calc( 100% - 24px );
    height: 100%;
    padding: 5px;
}

#write-title input{
    width: 100%;
    height: 100%;
}

#write-mid-div{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 60%;
    align-items: center;
    flex-flow: column wrap;
}

#write-text-form{
    display: flex;
    flex: 0 1 auto;
    width: calc( 100% - 10px );
    height: calc( 100% - 36px );
    align-items: center;
    margin: 5px;
}

#write-text-form textarea{
    width: 100%;
    height: 100%;
    resize: none;
}

#write-add-img{
    display: flex;
    flex: 0 1 auto;
    margin-left: 5px;
    width: 100%;
    height: 26px;
    color: #00bbd2;
    font-weight: 500;
}

#write-add-img img{
    display: flex;
    flex: 0 1 auto;
    margin-left: 5px;
    width: 24px;
    height: 24px;
}

#write-add-img input{
    display: flex;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#write-add-img label {
    display: flex;
    flex: 0 1 auto;
    cursor: pointer;
    margin: 0;
    padding-right: 8px;
    align-items: center;
}

#write-add-img label:hover{
    border: 1px solid #00bbd2;
}

#write-bot-div{
    display: flex;
    flex: 0 1 auto;
    margin: 10px 30px;
    width: calc(100% - 60px);
    height: calc(10% - 20px);
    justify-content: space-between;
    align-items: center;
}

#write-bot-div button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 80%;
}

#write-bot-div #wbx{
    color: #252525;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

#write-bot-div #wbo{
    color: white;
    background-color: #00bbd2;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.modal-content{
    display: flex;
    flex : 0 1 auto;
    width: 100%;
    height: 100%;
}

#sideMap{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
}

#write-images{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: auto;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#write-images img{
    display: flex;
    flex: 0 1 auto;
    width: 70%;
    height: auto;
    margin: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 985px !important;
        margin: auto !important;
    }
}

.modal-dialog .modal-fullsize {
    display: flex;
    width: min(90vw, 985px) !important;
    height: auto;
    min-height: 90vh;
    margin: 0;
    margin-top: 5%;
    padding: 0;
    flex : 0 1 auto;
    justify-content: center;
    align-items: center;
}

.modal-content .modal-fullsize {
    display: flex;
    width: 90vw;
    height: auto;
    min-height: 90vh;
    border-radius: 0;
    flex : 0 1 auto;
    justify-content: center;
    align-items: center;
}

#popUp{
    padding: 5%;
    flex : 0 1 auto;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 991px) {
    #left-area{
        width: 100vw;
    }

    #right-area{
        width: 100vw;
    }

    #main {
        display: flex;
        flex: 0 1 auto;
        width: 100vw;
        height: 200vh;
        flex-flow: row wrap;
        /*overflow: hidden;*/
    }

    body {
        padding: 0;
        margin: 0;
        font-family: "icomoon", "Noto Scans CJK KR", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color : #252525;
        overflow: visible;
    }

    body::-webkit-scrollbar { width: 0 !important }
    body{ -ms-overflow-style: none; }
    body { overflow: -moz-scrollbars-none; }


    #map-search{
        margin-right: 15px;
    }
}


@media only screen and (max-width: 767px) {
    #map-search{
        display: none;
    }

    #down-link a{
        margin-right: 5px;
        margin-left: auto;
    }
}